{
  "AlertEmail": "email-que-será-notificado",
  "Smtp": {
    "Host": "smtp.gmail.com",
    "Port": 587,
    "EnableSsl": true,
    "Username": "seu-email",
    "Password": "senha-app -> https://myaccount.google.com/apppasswords",
    "FromAddress": "seu-email",
    "FromName": "Stock Quote Alert"
  }
}